<a [mat-dialog-close]="false">
  <span id="close-dialog">
    <mat-icon>close</mat-icon>
  </span>
</a>
  <div class="container">
    <div mat-dialog-content class="content">
      <div>
        <h1 id="form-title">{{data.formTitle}}</h1>
        <form [formGroup]=" candidateForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
                <label class="input-name">Nome</label>
                <input type="text" formControlName="name" class="form-control" value="{{data.name}}">
            </div>
            <div class="form-group">
                <label class="input-name">Entrevista</label>
                  <input type="text" formControlName="interview" class="form-control" value="{{data.interview}}">
            </div>
            <div class="form-group">
                <label class="input-name">Score</label>
                <input type="text" formControlName="score" class="form-control" value="{{data.score}}">
            </div>
            <div class="form-group">
                <label class="input-name">Data</label>
                <input type="date" formControlName="date" class="form-control" value="{{data.date}}">
            </div>
            <div class="button-group">
            <button id="submit" type="submit" [mat-dialog-close]="false">
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </form>
    </div>
  </div>
</div>