<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let question of questions; let i = index">
        <div *ngIf="i === currentSlide" class="slide">
          <h1>{{question.question}}</h1>
          <h2>{{question.answer}}</h2>
          <h3>dificuldade: {{question.difficulty}}</h3>
          <mat-radio-group >
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
            <mat-radio-button value="2">Option 3</mat-radio-button>
            <mat-radio-button value="2">Option 4</mat-radio-button>
          </mat-radio-group>
        </div>
        
    </ng-container>
  
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">Anterior
    </button>
    <button class="control next" (click)="onNextClick()">Próximo
    </button>
  </div>