  .carousel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
    padding: 8px;
  }
  
  .slide {
    border: solid cornflowerblue;
    width: 18rem;
    height: 28rem;
    padding-left: 16px;
  }

  .answers-radio-options {
    display: flex;
    flex-direction: column;
  }

  .carousel-buttons {
    display: none;
  }
  
  .radio-option {
    width: 9rem;
    display: flex;
    justify-content: space-between;
  }