
<div class="carousel">
    <ng-container *ngFor="let question of questions; let i = index">
        <div *ngIf="i === currentSlide" class="slide">
          <h1>{{question.question}}</h1>
          <h2>{{question.answer}}</h2>
          <h3>dificuldade: {{question.difficulty}}</h3>
          <h3>Avaliar resposta do candidato</h3>
          <mat-radio-group class="answers-radio-options" (change)="radioChange($event)">
            <div class="radio-option">
              <mat-radio-button value="1">
                Insuficiente
              </mat-radio-button>
              <mat-icon>
                sentiment_very_dissatisfied
              </mat-icon>
            </div>
            <div class="radio-option">
              <mat-radio-button value="2">
                Regular
              </mat-radio-button>
              <mat-icon>
                sentiment_dissatisfied
              </mat-icon>
            </div>
            <div class="radio-option">
              <mat-radio-button value="3">
                Boa
              </mat-radio-button>
              <mat-icon>
                sentiment_satisfied
              </mat-icon>
            </div>
            <div class="radio-option">
              <mat-radio-button value="4">
                Ótima
              </mat-radio-button>
              <mat-icon>
                mood
              </mat-icon>
            </div>
          </mat-radio-group>
        </div>
        
    </ng-container>
  
    <!-- controls -->
      <div [class.carousel-buttons] ="isInterviewStarted == false">
        <button class="control-prev"
                (click)="onPreviousClick()"
                [disabled]="!isQuestionAnswered || disableButton">Anterior
        </button>
        <button (click)="scoreCount()">Enviar resposta</button>
        <button class="control-next"
                (click)="onNextClick()"
                [disabled]="!isQuestionAnswered || !isQuestionSelected || disableButton">Próximo
        </button>
      </div>
  </div>