<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let question of questions; let i = index">
        <div *ngIf="i === currentSlide" class="slide">
          <h1>{{question.question}}</h1>
          <h2>{{question.answer}}</h2>
          <h3>dificuldade: {{question.difficulty}}</h3>
          <h3>Avaliar resposta do candidato</h3>
          <mat-radio-group class="answers-radio-options" (change)="radioChange($event)">
            <mat-radio-button value="1">
              Insuficiente
              <mat-icon>
                sentiment_very_dissatisfied
              </mat-icon>
            </mat-radio-button>
            <mat-radio-button value="2">
              Regular
              <mat-icon>
                sentiment_dissatisfied
              </mat-icon>
            </mat-radio-button>
            <mat-radio-button value="3">
              Boa
              <mat-icon>
                sentiment_satisfied
              </mat-icon>
            </mat-radio-button>
            <mat-radio-button value="4">
              Ótima
              <mat-icon>
                mood
              </mat-icon>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        
    </ng-container>
  
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">Anterior
    </button>
    <button (click)="scoreCount()">Enviar resposta</button>
    <button class="control next" (click)="onNextClick()">Próximo
    </button>
  </div>