.interview-form {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-group select {
    width: 65%;
    cursor: pointer;
}


