<div >
    <div>
        <h1>{{interviewTitle}}</h1>
            <form class="interview-form" [formGroup]="interviewForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label class="input-name">Candidato</label>
                    <select formControlName="candidateName" class="form-control" (change)="getCandidate($event)">
                    <option *ngFor="let candidate of candidates$ | async as candidates" [ngValue]="candidate.id" >
                        {{candidate.name}}
                    </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="input-name">Vaga</label>
                    <select formControlName="interviewVacancy" class="form-control">
                    <option *ngFor="let candidate of candidates$ | async as candidates" [ngValue]="candidate.interview">
                        {{candidate.interview}}
                    </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="input-name">Questionário</label>
                    <select formControlName="questionnaireName"
                            class="form-control">
                    <option *ngFor="let questionnaire of questionnaires$ | async as questionnaires" [ngValue]="questionnaire.id">
                        {{questionnaire.title}}
                    </option>
                    </select>
                </div>
                <button [disabled]="isInterviewStarted == true">Iniciar questionário</button>
            </form>
    </div>
    <app-questions-carousel *ngIf=[isInterviewStarted]
                            [questions]="questions"
                            (questionScore)="showScore($event)"
                            >
    </app-questions-carousel>
        <div class="score" *ngIf="isInterviewStarted==true">
            <h3>Pontuação parcial:{{totalScore}}</h3>
                <button id="btn-submit-score"
                        class="score-btn"
                        matTooltip="Salvar pontuação do candidato" matTooltipPosition="below" matTooltipClass="yellow-tooltip"
                        mat-fab color="accent"
                        (click)="submitCandidateScore()"
                        >
                    <mat-icon>sports_score</mat-icon>
                </button>
        </div>
</div>
