.title {
    font-size: 12pt;
}

.dialog-options {
    display: flex;
    justify-content: space-between;
}

#close-dialog {
    color: red;
    cursor: pointer;
}

#confirm-dialog{
    color: green;
    cursor: pointer;
}