<mat-toolbar color="primary">
    <div class="content">
        <div class="title">
            <span>
                <a (click)="goHome()">Job Interview</a>
            </span>
        </div>
        <div class="user-info">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>        
        </div>
    </div>
</mat-toolbar>