.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-info {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.title {
    cursor: pointer;
}

.under-construction {
    width: 100%;
    display: flex;
    justify-content: center;
}