<mat-toolbar color="primary">
    <div class="content">
        <div class="title">
            <span>
                <a (click)="goHome()">Job Interview</a>
            </span>
        </div>
        <div class="user-info" matTooltip="Tenha paciência padawan, estamos trabalhando nisso" matTooltipPosition="below" matTooltipClass="red-tooltip">
            <div class="under-construction">
                <mat-icon class="icon">account_circle</mat-icon>
                <mat-icon class="icon">logout</mat-icon>
            </div>       
        </div>
    </div>
</mat-toolbar>