<div class="container">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <h1>Candidatos</h1>
        <div class="tools">
            <button id="btn-add" mat-fab color="primary" (click)="createCandidate()">+</button>
        </div>
        <table class="mat-elevation-z8">
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>ENTREVISTA</th>
                    <th>SCORE</th>
                    <th>DATA</th>
                </tr>
            </thead>
            <tbody class="tab-candidatos-content">
                <tr *ngFor="let candidate of candidates">
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.interview}}</td>
                    <td>{{candidate.score}}</td>
                    <td>{{candidate.date}}</td>
                </tr>
            </tbody>
        </table>
                

        
    </div>
</div>