.container {
    display: flex;
}

.content {
    width: 100%;
    padding: 2%;
}

.table {
    width: 100%;
}

.current-row {
    background-color: aliceblue;
}

.mat-elevation-z8 {
    width: 80%;
}

.tab-candidatos-content {
    text-align: center;
}

.tools {
    margin: 1%;
}

#btn-add {
    font-size: 24px;
}