<div class="container">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <h1>Candidatos</h1>
        <div class="tools">
            <button id="btn-add" class="crud-action-btn" mat-fab color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <button id="btn-delete" class="crud-action-btn" mat-fab color="warn" (click)="deleteCandidate()" [disabled]= "i== currentRow ? true: false">
                <mat-icon>delete</mat-icon>
            </button>
            <button id="btn-update"class="crud-action-btn" mat-fab color="accent" (click)="updateCandidate()" [disabled]= "i== currentRow ? true: false">
                <mat-icon>update</mat-icon>
            </button>
        </div>
        <div class="search-candidate">
            <input type="search" placeholder="Pesquisar por candidato" [(ngModel)]="searchCandidate">
            
        </div>
        <table class="mat-elevation-z8">
            <thead>
                <tr>
                    <th>NOME
                        <a (click)="orderByName()">
                            <mat-icon>
                               reorder
                            </mat-icon>
                        </a>
                    </th>
                    <th>ENTREVISTA
                        <a (click)="orderByInterview()">
                            <mat-icon>
                               reorder
                            </mat-icon>
                        </a>
                    </th>
                    <th>SCORE
                        <a (click)="orderByScore()">
                            <mat-icon>
                               reorder
                            </mat-icon>
                        </a>
                    </th>
                    <th>DATA
                        <a (click)="orderByDate()">
                            <mat-icon>
                               reorder
                            </mat-icon>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="tab-candidatos-content">
                <tr *ngFor="let candidate of candidates | candidateFilter:searchCandidate; let i = index"(click)="getCandidate(i)" [class.current-row]= "i == currentRow">
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.interview}}</td>
                    <td>{{candidate.score}}</td>
                    <td>{{candidate.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>