.container {
    display: flex;
}

.content {
    width: 100%;
    padding: 2%;
}

.table {
    width: 100%;
}

.current-row {
    background-color: rgb(176, 200, 221);
    cursor: pointer;
}

.mat-elevation-z8 {
    width: 80%;
}

.tab-candidatos-content {
    text-align: center;
}

.tools {
    margin: 1%;
    width: 15%;
    display: flex;
    justify-content: space-between;   
}

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.paginator {
    display: flex;
    justify-content: flex-start;

}

#btn-add {
    font-size: 24px;
}

#btn-search {
    color: white;
    background-color: green;
}