<div class="container">
    <div class="menu">
        <app-menu></app-menu>
    </div>
<div class="select">
    <div class="select">
        <ng-select [items]="accounts"
        bindLabel="name"
        groupBy="selectedGroup"
        [multiple]="true"
        [hideSelected]="false"
        [maxSelectedItems]="4"
        [closeOnSelect]="false"
        [(ngModel)]="selectedAccounts"
        (click)=getSelectedValues()>
        
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear"> 
         <div class="ng-value" *ngFor="let item of items | slice:0:4">
             <span class="ng-value-label">
                 <mat-icon>
                     account_circle
                 </mat-icon>
             </span>
             {{item.name}} - {{item.acronym}}
             <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">x</span>
        </div>
        </ng-template>
        </ng-select>
        <br>
    <small>Selected: {{selectedAccounts | json}}</small>
    </div>
</div>

<div class="select">
    <div class="select">
        <mat-select [(ngModel)]="selectedAccount" multiple>
            <mat-option
                *ngFor="let item of accounts"
                [value]="item.name"
                (click)="getValues()">
                {{item.name}} - {{item.acronym}}
            </mat-option>   
        </mat-select>
        <br>
        <mat-label class="selected" *ngFor="let item of selectedAccount">
            <mat-icon>account_circle</mat-icon>
                <p class="selected-user">{{item}}</p> 
            <button class="close" (click)="clear()">x</button>
        </mat-label> 
    </div>
</div>
    

