.body {
    height: 100%;
}

.menu-bar {
    height: 1280px;
    background-color: rgb(227, 230, 230);
}

.mat-list-item:hover {
    color: white;
    background-color: rgb(156, 160, 160);
    cursor: pointer;
}