/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
}

.snackbar-success {
  background: hsl(120, 100%, 25%);
}

.snackbar-edit {
  background: hsl(47, 100%, 63%);
}

.snackbar-create {
  background: hsl(262, 52%, 47%);
}

.snackbar-delete {
  background: hsl(4, 90%, 58%)
}

.green-tooltip {
  background: hsl(120, 100%, 25%);
}

.purple-tooltip {
  background: hsl(262, 52%, 47%);
}

.red-tooltip {
  background: hsl(4, 90%, 58%)
}

.yellow-tooltip {
  background: hsl(47, 100%, 63%);
}

.under-construction {
  cursor: not-allowed;
}